@media (prefers-color-scheme: dark) {
  body {
    background-color: #202020;
    color: #9966cc;
    margin: 0%;
    padding: 0%;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
    margin: 0%;
    padding: 0%;
  }
}
